requests
flask
fastapi
gmpy2
psutil
pydantic
click
dacite
python-dateutil
types-python-dateutil
Eel
pymongo
dependency-injector
pytest-mock
atomicwrites 
black
coverage 
docutils 
hypothesis 
ipython
ipykernel
jeepney 
jupyter-black 
mkdocs 
mkdocs-jupyter 
mkinit 
mypy 
pydeps 
pylint 
pytest 
secretstorage 
twine 
typish 
gunicorn
cryptography
python-dotenv
pqcrypto